@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tw-gradient-from: #6B21A8; /* Purple-800 */
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(219, 39, 119, 0)); /* Pink-600 */
    --tw-gradient-to: #EF4444; /* Red-500 */
  }
}

body {
  @apply bg-gradient-to-r from-purple-800 via-pink-600 to-red-500 text-white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
